table{
    border-collapse: collapse;
    width: 100%;
}

td , td {
    padding: 15px;
    font-size:larger;
    font-family: Arial, Helvetica, sans-serif;
    
}
h4 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}