#titulo{
    text-align: center;
    color: bisque;
}
#p{
    width: 20%;
}
#q{
    width: 60%;
}
#r{
    width: 50%;
}

.b{
    border: none;
    color: azure;
    padding: 10px 21px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    cursor: pointer;
}

.bu {  background-color:black }