<head>
  <title>HTML Cliente</title>
</head>
<h1 id="titulo">
  Clientes
</h1>
<div>
  <p>user-ang works!</p>
  <br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">CI</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of directors">
        <td scope="row">{{ cliente.tipo_usuario }}</td>
        <td scope="row">{{ cliente.email }}</td>
        <td scope="row">{{ cliente.ci }}</td>
      </tr>
    </tbody>
  </table>
  <p>cliente-ang works!</p>
  <br>
  <table class="table table-striped">
      <thead>
          <tr>
              <th  scope="col" >Nombre</th>
              <th  scope="col" >Apellido</th>
              <th  scope="col"  >CI </th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let clientee of tecnicos">
          <td scope="row">{{clientee.ci}}</td>
          <td scope="row">{{clientee.email}}</td>
          <td scope="row">{{clientee.ci}}</td>
        </tr>
      </tbody>
  </table>
  <div><br>
      <div class="modal-body">
          <div class="container">
              <div>
                  <h3>Clientes Agregar</h3>
              </div><br><br>
            <form (submit)="onSubmit()">
              <label for="nombre"><b>Nombre</b></label>
              <input
                type="text"
                placeholder="Introduzca su nombre"
                name="nombre"
                [(ngModel)]="formData['nombre']!"
                class="form-control"
                required
              />
              <br><label for="apellido"><b>Apellido</b></label>
              <input
                type="text"
                placeholder="Introduzca su apellido"
                name="apellido"
                class="form-control"
                [(ngModel)]="formData['apellido']!"
                required
              />
              <br><label for="ci"><b>CI</b></label>
              <input
                type="text"
                placeholder="Introduzca su número de carnet"
                name="ci"
                class="form-control"
                [(ngModel)]="formData['ci']!"
                required
              />
              <br><label for="telefono"><b>Teléfono</b></label>
              <input
                type="text"
                placeholder="Introduzca su teléfono"
                name="telefono"
                class="form-control"
                [(ngModel)]="formData['telefono']!"
                required
              />
              <br><label for="email"><b>Email</b></label>
              <input
                type="email"
                placeholder="Introduzca su correo"
                name="email"
                class="form-control"
                [(ngModel)]="formData['email']!"
              />
              <br><label for="password"><b>Contraseña</b></label>
              <input
                type="password"
                placeholder="Introduzca su contraseña"
                name="password"
                minlength="4"
                class="form-control"
                [(ngModel)]="formData['password']!"
              />
              <br>
              <label for="ciudad">Seleccione una ciudad</label>
              <select [(ngModel)]="formData['ciudades_id']!" name="ciudad" class="form-control">
                  <option *ngFor="let ciudad of ciudad" [value]="ciudad.id">{{ ciudad.descripcion }}</option>
              </select>
              <br><label for="foto1"><b>Carnet Anverso</b></label>
              <input
                type="file"
                name="carnet_anv"
                class="form-control"
                (change)="onFileChange($event, 'carnet_anv')"
                required
              />
              <br><label for="foto2"><b>Carnet Reverso</b></label>
              <input
                type="file"
                name="carnet_rev"
                class="form-control"
                (change)="onFileChange($event, 'carnet_rev')"
                required
              />
              <br><label for="foto3"><b>Foto</b></label>
              <input
                type="file"
                name="foto"
                class="form-control"
                (change)="onFileChange($event, 'foto')"
                required
              />
              <br><button type="submit">Guardar datos</button>
            </form>
          </div>
       </div>
  </div>
</div>
<div>
  <div>
    <div>
      <h3> LOGIN QUEMADA</h3>
      <form (ngSubmit)="onLogin($event)">
        <div>
          <label for="ci">CI</label>
          <input
            type="text"
            id="ci"
            name="ci"
            placeholder="Ingrese su CI"
            [(ngModel)]="loginFormData.ci"
            required
          />
        </div>
        <div>
          <label for="password">Contraseña</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Ingrese su contraseña"
            [(ngModel)]="loginFormData.password"
            required
          />
        </div>
        <button type="submit">Login</button>
      </form>
    </div>
  </div>
</div>
